<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Admin Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container">

    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
                        data-feather="database"></i></span></span>All Users</h4>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Users</h5>
                <p class="mb-40">Here are the list of all users</p>
                <div class="row">
                    <div class="col-2 float-right">
                        <form role="search" action="/admin/admin-search-user" method="POST">
                            <div class="form-group">
                                <input type="text" name="example-input1-group2" class="form-control"
                                    placeholder="Type here to Search">
                                    <input type="submit" class="navbar-search-icon"><span class="feather-icon"><i
                                            data-feather="search"></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each allUsers}}
                                    <tr>
                                        <td>{{inc @index}}</td>
                                        <td>{{firstname}}</td>
                                        <td>{{lastname}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        <td>{{role}}</td>
                                        {{!-- <td><a href="/request/details/{{id}}"><span class="feather-icon"><i
                                                        data-feather="eye"></i></span></a></td> --}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>S/N</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Role</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>
<!-- /Container -->